<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=wendystorage;AccountKey=J9AOS6TY9iXaZ+3yQ7bq8dY1/63UYjYricXn7kP5P7Ihple8YcIH9dqK1iPTdm9yxOBS//5fa9iPd0w7h4iK3g=="/>
  </appSettings>
</configuration>